/*-------------------------------
	LayOut Styles
-------------------------------*/

/*---- Profile Pic ----*/
	.avatar {
	    height: 220px;
	    border-radius: 100%;
	    border: 10px;
	}

/*---- Nav margin with Cont ----*/	
	.container {
		margin-top: 150px;
	}

.btn-toolbar {
	display: inline-block;
	}​

	a {
		cursor: pointer;
	}


	.dropdown-form {
		padding: 17px;
		width: 300px;
	}

	#splashimg {
		max-width:100% !important;
		height:auto;
	}
	
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
	#tab {
	    float: left;
	    margin: 3px 3px 0px 3px;
	    padding: 5px 5px 0px 5px;
	    background-color: #CCC;
	    color: #696969;
	}

	#mainView {
		clear: both;
		padding: 0 1em;
	}
	.active {
	    background-color: #FFF;
	    color: #000;
	}

	/*------ Splash Page ------*/
	.overlay {
	    position: absolute;
	    width: 100% !important;
	    height: 100%;
	    left: 0;
	    top: 0;
	    background-size: cover;
	    background-image: url('https://images.unsplash.com/photo-1440492248262-6895f9da82fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b55bcaa28b217821a149f4d2479a1f59');
	    z-index: 10;
	  }

	  .center{
	    -webkit-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	    position: absolute;
	    top: 50%;
	    left: 50%;
	  }

	  .neon {
	    font-family: 'VCR';
	   /* font-family: 'helvetica', sans-serif;*/
	    letter-spacing: 4px;
	    font-size: 1.8em;
	    display: inline-block;
	   /* color: #ff5277 !important;*/
	    color: #fff !important;
	    text-align: center;
	    padding: .75em 1em;
	    border: 3px solid #fff;
	  /*  border: 3px solid #ff5277;*/
	    border-radius: 3px;
	    -webkit-transform: translateZ(0);
	            transform: translateZ(0);
	    /*box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3), inset 0 0 4px 2px rgba(0, 0, 0, 0.3);*/
	    line-height: .9;
	    opacity: .9;
	    -webkit-animation: blinker 1s infinite;
	            animation: blinker 1s infinite;
	    cursor: pointer;
	  }
	  .neon:after,
	  .neon:before {
	    top: 23%;
	    position: absolute;
	    left: 29%;
	    white-space: pre;
	  }
	  .neon:after {
	    color: #fff;
	    -webkit-filter: blur(1px);
	            filter: blur(1px);
	    z-index: 1;
	  }
	  .neon:before {
	    color: #ff5277;
	    -webkit-filter: blur(24px);
	            filter: blur(24px);
	    z-index: -2;
	  }
/*-------- Floating Nav ------*/
	.menu {
	  background: rgba(255, 255, 255, 0.0);
	}
	.menu-item, 
	.menu-open-button {	
	  background: #000;
	  border-radius: 50%;
	  width: 2.5em;
	  height: 2.5em;
	  margin-left: -55px;
	  position: fixed;
	  top: 80%;
	  color: white;
	  text-align: center;
	  line-height: 3em;
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  -webkit-transition: -webkit-transform ease-out 300ms;
	          transition: transform ease-out 300ms;
	}
	.menu-open {
	  display: none;
	}
	.hamburger {
	  width: 25px;
	  height: 4px;
	  background: #fff;
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: -12.5px;
	  margin-top: -1.5px;
	  -webkit-transition: -webkit-transform 300ms;
	          transition: transform 300ms;
	}
	.hamburger-1 {
	  -webkit-transform: translate3d(0, -8px, 0);
	          transform: translate3d(0, -8px, 0);
	}
	.hamburger-2 {
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	}
	.hamburger-3 {
	  -webkit-transform: translate3d(0, 8px, 0);
	          transform: translate3d(0, 8px, 0);
	}
	.menu-open:checked + .menu-open-button .hamburger-1 {
	  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
	          transform: translate3d(0, 0, 0) rotate(45deg);
	}
	.menu-open:checked + .menu-open-button .hamburger-2 {
	  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
	          transform: translate3d(0, 0, 0) scale(0.1, 1);
	}
	.menu-open:checked + .menu-open-button .hamburger-3 {
	  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
	          transform: translate3d(0, 0, 0) rotate(-45deg);
	}

	.menu-nav {
	  position: fixed;
	  left: 95%;
	  margin-left: 0;
	  width: 150px;
	  height: 150px;
	  box-sizing: border-box;
	  font-size: 20px;
	  text-align: left;
	  z-index: 9999;
	}
	.menu-item:hover {
	  background: linear-gradient(135deg, #000, #000);
	  color: rgba(245, 245, 245, 0.80);
	}
	.menu-item:nth-child(3) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(4) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(5) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(6) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(7) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(8) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-open-button {
	  z-index: 2;
	  -webkit-transition-timing-function: linear;
	          transition-timing-function: linear;
	  -webkit-transition-duration: 200ms;
	          transition-duration: 200ms;
	  -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
	          transform: scale(1.0, 1.0) translate3d(0, 0, 0);
	  cursor: pointer;
	}
	.menu-open-button:hover {
	  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	}
	.menu-open:checked + .menu-open-button {
	  -webkit-transition-timing-function: linear;
	          transition-timing-function: linear;
	  -webkit-transition-duration: 400ms;
	          transition-duration: 400ms;
	  -webkit-transform: scale(0.75, 0.75) translate3d(0, 0, 0);
	          transform: scale(0.75, 0.75) translate3d(0, 0, 0);
	}
	.menu-open:checked ~ .menu-item {
	  -webkit-transition-timing-function: linear;
	          transition-timing-function: linear;
	}
	.menu-open:checked ~ .menu-item:nth-child(3) {
	  -webkit-transition-duration: 100ms;
	          transition-duration: 100ms;
	  -webkit-transform: translate3d(0, -70px, 0);
	          transform: translate3d(0, -70px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(4) {
	  -webkit-transition-duration: 200ms;
	          transition-duration: 200ms;
	  -webkit-transform: translate3d(0, -140px, 0);
	          transform: translate3d(0, -140px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(5) {
	  -webkit-transition-duration: 300ms;
	          transition-duration: 300ms;
	  -webkit-transform: translate3d(0, -210px, 0);
	          transform: translate3d(0, -210px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(6) {
	  -webkit-transition-duration: 400ms;
	          transition-duration: 400ms;
	  -webkit-transform: translate3d(0, -280px, 0);
	          transform: translate3d(0, -280px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(7) {
	  -webkit-transition-duration: 500ms;
	          transition-duration: 500ms;
	  -webkit-transform: translate3d(0, -350px, 0);
	          transform: translate3d(0, -350px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(8) {
	  -webkit-transition-duration: 600ms;
	          transition-duration: 600ms;
	  -webkit-transform: translate3d(0, -420px, 0);
	          transform: translate3d(0, -420px, 0);
	}

	/*---- Nav Bar ----*/	
	nav.navbar {
	  top: 0;
	  border-width: 0 0 1px;
	  position: fixed;
	  left: 0;
	  z-index: 9999;
	  width: 100%;
	  height: 50px;
	/*  background: transparent;*/
	  background: rgba(0,0,0,1);
	  margin: 0;
	  -webkit-text-shadow: none;
	  text-shadow: none;
	  box-shadow: none;
	   -webkit-transition: all 0.4s ease;
	   transition: all 0.4s ease;
	}

	.navbar-right {
	  margin-right: 0;
	}

	.btn-toolbar {
	  display: inline-block;
	}​

	a {
	  cursor: pointer;
	} 

	/*a:visited {
	  color: #fff !important;
	}*/

	.default {
	/*  background-color: rgba(252, 238, 48, 1);*/
	 /* background-color: rgba(237,73,86,1) !important;*/
	  background: transparent;
	}

	#red {
	  /*color: #fff;*/
	 /* background: rgba(244,137,137,1);*/
	 /*background: rgba(253,100,103,1);*/
	/*  background: rgba(242,93,95,1);*/
	  background: rgba(247,73,86,1);
	 /*  animation: pulsate 3s infinite;*/
	 /* -webkit-animation: blinker 1s infinite;
	          animation: blinker 1s infinite;*/
	}

	#blue {
	  /*background: rgba(120,196,170,1);*/
	  background: rgba(169,216,200,1);
	}

	#yellow {
	  background-color: rgba(250,215,123,1);
	}

	nav.navbar {
	  top: 0;
	  border-width: 0 0 1px;
	  position: fixed;
	  left: 0;
	  z-index: 9999;
	  width: 100%;
	  height: 50px;
	/*  background: transparent;*/
	  background: rgba(0,0,0,1);
	  margin: 0;
	  -webkit-text-shadow: none;
	  text-shadow: none;
	  box-shadow: none;
	   -webkit-transition: all 0.4s ease;
	   transition: all 0.4s ease;
	}

	nav.navbar.shrink {
	  min-height: 10px;
	}

	.navbar-fixed-bottom{
	    border-width: 0 0 1px;
	    position: fixed;
	    left: 0;
	    z-index: 9999;
	    width: 100%;
	    min-height: 10px;
	    height: 40px;
	/*    background: transparent;*/
	    background: rgba(0,0,0,1);
	    margin: 0;
	    -webkit-text-shadow: none;
	    text-shadow: none;
	    box-shadow: none;
	     -webkit-transition: all 0.4s ease;
	     transition: all 0.4s ease;
	}
	
	.weather {
	  font-family: "Helvetica";
	  position: fixed;
	  top: 20px;
	  right: 20px;
	  font-size: 16px;
	  background: transparent;
	  font-weight: 400;
	  text-align: left;
	  text-transform: uppercase;
	  color: white;
	}
	
	.site-logo{
	  height:33px;
	  width: 35px;
	  top:50%;
	  left:50%;
	}

	.modal-body {
	    font-family:"vcr";
	    margin-top: 20px;
	    position: relative;
	    padding: 15px;
	}

	.modal-content {
	    font-family:"vcr";
	    margin-top: 80px;
	    position: relative;
	    padding: 15px;
	}
	
	.btn {
	  font-size: 11px;
	  box-shadow: none !important;
	  color: rgba(255,255,255,1);
	  background-color: rgba(0,0,0,1);
	  margin: 1px 1px 1px 1px;
	  min-width: 100px;
	}

	// .btn.btn-link {
	//   font-size: 11px;
	//   box-shadow: none !important;
	//   color: rgba(255,255,255,1);
	//   background-color: rgba(0,0,0,1);
	//   margin: 1px 1px 1px 1px;
	//   min-width: 100px;
	// }

	.btn:hover, .btn:focus, .btn.focus {
	  color: #ff5277;
	}
	/*----------------------
	-----Dropdown Styles----
	------------------------*/

	.dropdown > a:after{
	  font-size:14px;
	  margin-left:5px;
	  font-family:fontAwesome;
	}

	.dropdown .dropdown > a:after{
	  position: absolute;
	  right:10px;
	  font-size:14px;
	  line-height: 18px;
	  margin-left:5px;
	  font-family:fontAwesome;
	}

	.dropdown .left-side.dropdown > a:after{
	  left:5px;
	  right:auto;
	}

	.dropdown-menu{
	  padding:0;
	  left:-10px !important;
	  right:auto !important;
	  display: block;
	  border-radius: 0;
	  visibility: hidden;
	  -webkit-transform: translateY(10px);
	  transform: translateY(10px);
	  opacity:0;
	  -webkit-transition:opacity .2s ease-out,-webkit-transform .2s ease-out;
	  transition:opacity .2s ease-out,transform .2s ease-out;
	}

	.dropdown-menu .dropdown-menu{
	  top:-3px;
	  left:100% !important;
	  right:auto !important;
	}

	.dropdown-menu .left-side .dropdown-menu{
	  top:-4px;
	  left:auto !important;
	  right:100% !important;
	}

	.dropdown:hover > .dropdown-menu{
	  visibility: visible;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	  opacity:1;
	}

	.main-nav  .dropdown:hover > a{
	  color: #313131;
	}

	.main-nav.dark-nav .dropdown:hover > a{
	  color: #fff;
	}

	.main-nav .dropdown-menu li{
	  padding:0;
	  margin:0;
	}

	.main-nav .dropdown-menu a{
	  padding:17px 50px 17px 30px;
	  font-size:14px;
	  font-weight: 300;
	  line-height: 14px;
	  color: #9a9a9a;
	  text-transform: none;
	  -webkit-transition:all .2s ease-out;
	  transition:all .2s ease-out;
	}

	.main-nav .dropdown-menu a:hover,
	.main-nav .dropdown-menu a:focus{
	  padding:17px 50px 17px 30px;
	  font-size:14px;
	  font-weight: 300;
	  line-height: 14px;
	  color: #313131;
	  text-transform: none;
	  background: #f5f7f8;
	  -webkit-transition:all .2s ease-out;
	  transition:all .2s ease-out;
	}

	.main-nav .dropdown .dropdown:hover > a{
	  color: #313131;
	  background: #f5f7f8;
	}

	.main-nav .dropdown-menu a:before{
	  display: none !important;
	}

	/*----------------
	- DashBoard Page -
	----------------*/

	.dashboard {
		min-width: 320px;
		margin-top: -20px;
		height: auto !important;
		background: rgba(242,239,235,1);
		padding-top: 20px;
		max-width: 320px;
		margin-left: 800px;
		padding-bottom: 20px;
		border-bottom: 1px solid #000;
	}

	.frontfilter {
		margin-left: 10px;
		max-width: : 200px;

	}
	
	.post-it{
		text-decoration:none;
		color:#000;
		background:#ffc;
		display:block;
		height:18em;
		width:18em;
		margin-top:10px;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:10px;
		padding:2em;
		-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
		-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		box-shadow: 5px 5px 7px rgba(33,33,33,.7);
		-moz-transition:-moz-transform .15s linear;
		-o-transition:-o-transform .15s linear;
		-webkit-transition:-webkit-transform .15s linear;
		-webkit-transform: rotate(-1deg);
		-o-transform: rotate(-1deg);
		-moz-transform:rotate(-1deg);
	}

	.post-it:hover{
		box-shadow:10px 10px 7px rgba(0,0,0,.7);
		-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
		-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
		-webkit-transform: scale(1.25);
		-moz-transform: scale(1.25);
		-o-transform: scale(1.25);
		position:relative;
		z-index:5;
	}
	
	.card {
		border-radius: 20px;
		min-width: 230px;
		max-width: 770px;
		position: relative;
		padding: 10px 10px 30px;
		margin: 20px;
		background: rgba(242,239,235,1);
		font-family: Helvetica, sans-serif;
		border-bottom: 3px solid #000;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-tansition: all 0.3s 0.2s ease-out;
		transition: all 0.3s 0.2s ease-out;
	}
	
	.card:hover {
	  /*background: rgba(200,200,200,0.7);*/
	  cursor: pointer;
	  box-shadow: 0 5px 20px rgba(0,0,0,.8);
	 /*   transform: translateY(-10px) scale(1.02);*/
	}
	.card-date {
	    position: absolute;
	    bottom: 9px;
	    left: -10px;
	    padding: 4px 8px;
	    background: #000;
	    color: #fff;
	    font-family: YeezyB;
	    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	}
	.card-date:after {
	    content: '';
	    display: block;
	    height: 20px;
	    width: 8px;
	    position: absolute;
	    top: 31px;
	    left: 0px;
	    background: transparent;
	    z-index: 1;
	    border-top: 10px solid #000;
	    border-left: 10px solid transparent;
	}
	.card-name {
	    position: absolute;
	    bottom: 13px;
	    left: -10px;
	    padding: 4px 8px;
	    background: #000;
	    color: #fff;
	    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	}
	.card-name:after {
	    content: '';
	    display: block;
	    height: 20px;
	    width: 8px;
	    position: absolute;
	    top: 34px;
	    left: 0px;
	    background: transparent;
	    z-index: 1;
	    border-top: 10px solid #000;
	    border-left: 10px solid transparent;
	}

	.fade {
	  opacity: 0;
	  /* make things invisible upon start */
	  -webkit-animation: fadeIn ease-in 1;
	  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	  -moz-animation: fadeIn ease-in 1;
	  animation: fadeIn ease-in 1;
	  -webkit-animation-fill-mode: forwards;
	  -moz-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-duration: 1s;
	  -moz-animation-duration: 1s;
	  animation-duration: 1s;
	}
/*----Post-it----*/


