/*-------------------------------
	LayOut Styles
-------------------------------*/

/*---- Profile Pic ----*/
	#avatar {
	    height: 50px;
	    border-radius: 100%;
	    border: 10px;
	}

/*---- Nav margin with Cont ----*/	
	.container {
		margin-top: 150px;
	}

.btn-toolbar {
	display: inline-block;
	}​

	a {
		cursor: pointer;
	}


	.dropdown-form {
		padding: 17px;
		width: 300px;
	}

	#splashimg {
		max-width:100% !important;
		height:auto;
	}
	
	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
	#tab {
	    float: left;
	    margin: 3px 3px 0px 3px;
	    padding: 5px 5px 0px 5px;
	    background-color: #CCC;
	    color: #696969;
	}
	#mainView {
		clear: both;
		padding: 0 1em;
	}
	.active {
	    background-color: #FFF;
	    color: #000;
	}
/*-------- Floating Nav ------*/
	.menu {
	  background: rgba(255, 255, 255, 0.0);
	}
	.menu-item, 
	.menu-open-button {	
	  background: #000;
	  border-radius: 50%;
	  width: 2.5em;
	  height: 2.5em;
	  margin-left: -55px;
	  position: fixed;
	  top: 80%;
	  color: white;
	  text-align: center;
	  line-height: 3em;
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  -webkit-transition: -webkit-transform ease-out 300ms;
	          transition: transform ease-out 300ms;
	}
	.menu-open {
	  display: none;
	}
	.hamburger {
	  width: 25px;
	  height: 4px;
	  background: #fff;
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: -12.5px;
	  margin-top: -1.5px;
	  -webkit-transition: -webkit-transform 300ms;
	          transition: transform 300ms;
	}
	.hamburger-1 {
	  -webkit-transform: translate3d(0, -8px, 0);
	          transform: translate3d(0, -8px, 0);
	}
	.hamburger-2 {
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	}
	.hamburger-3 {
	  -webkit-transform: translate3d(0, 8px, 0);
	          transform: translate3d(0, 8px, 0);
	}
	.menu-open:checked + .menu-open-button .hamburger-1 {
	  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
	          transform: translate3d(0, 0, 0) rotate(45deg);
	}
	.menu-open:checked + .menu-open-button .hamburger-2 {
	  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
	          transform: translate3d(0, 0, 0) scale(0.1, 1);
	}
	.menu-open:checked + .menu-open-button .hamburger-3 {
	  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
	          transform: translate3d(0, 0, 0) rotate(-45deg);
	}

	.menu-nav {
	  position: fixed;
	  left: 95%;
	  margin-left: 0;
	  width: 150px;
	  height: 150px;
	  box-sizing: border-box;
	  font-size: 20px;
	  text-align: left;
	  z-index: 9999;
	}
	.menu-item:hover {
	  background: linear-gradient(135deg, #000, #000);
	  color: rgba(245, 245, 245, 0.80);
	}
	.menu-item:nth-child(3) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(4) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(5) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(6) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(7) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-item:nth-child(8) {
	  -webkit-transition-duration: 180ms;
	          transition-duration: 180ms;
	}
	.menu-open-button {
	  z-index: 2;
	  -webkit-transition-timing-function: linear;
	          transition-timing-function: linear;
	  -webkit-transition-duration: 200ms;
	          transition-duration: 200ms;
	  -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
	          transform: scale(1.0, 1.0) translate3d(0, 0, 0);
	  cursor: pointer;
	}
	.menu-open-button:hover {
	  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	}
	.menu-open:checked + .menu-open-button {
	  -webkit-transition-timing-function: linear;
	          transition-timing-function: linear;
	  -webkit-transition-duration: 400ms;
	          transition-duration: 400ms;
	  -webkit-transform: scale(0.75, 0.75) translate3d(0, 0, 0);
	          transform: scale(0.75, 0.75) translate3d(0, 0, 0);
	}
	.menu-open:checked ~ .menu-item {
	  -webkit-transition-timing-function: linear;
	          transition-timing-function: linear;
	}
	.menu-open:checked ~ .menu-item:nth-child(3) {
	  -webkit-transition-duration: 100ms;
	          transition-duration: 100ms;
	  -webkit-transform: translate3d(0, -70px, 0);
	          transform: translate3d(0, -70px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(4) {
	  -webkit-transition-duration: 200ms;
	          transition-duration: 200ms;
	  -webkit-transform: translate3d(0, -140px, 0);
	          transform: translate3d(0, -140px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(5) {
	  -webkit-transition-duration: 300ms;
	          transition-duration: 300ms;
	  -webkit-transform: translate3d(0, -210px, 0);
	          transform: translate3d(0, -210px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(6) {
	  -webkit-transition-duration: 400ms;
	          transition-duration: 400ms;
	  -webkit-transform: translate3d(0, -280px, 0);
	          transform: translate3d(0, -280px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(7) {
	  -webkit-transition-duration: 500ms;
	          transition-duration: 500ms;
	  -webkit-transform: translate3d(0, -350px, 0);
	          transform: translate3d(0, -350px, 0);
	}
	.menu-open:checked ~ .menu-item:nth-child(8) {
	  -webkit-transition-duration: 600ms;
	          transition-duration: 600ms;
	  -webkit-transform: translate3d(0, -420px, 0);
	          transform: translate3d(0, -420px, 0);
	}

	/*----------------------
	----Navigation Styles---
	------------------------*/

	.main-nav{
	  background:#fff;
	  color:#4E5961;
	  box-shadow:none;
	  border-radius:0;
	  width:100%;
	  margin:0;
	  padding:0;
	  border-bottom: 1px solid rgba(0,0,0,.4);
	  -webkit-transition:all .3s ease-out;
	  transition:all .3s ease-out;
	  z-index:9999;
	}

	.main-nav.navbar-transparent{
	  padding: 0 0;
	  background: transparent;
	  box-shadow: none;
	  border-bottom: 1px solid rgba(255,255,255,.7);
	}

	.main-nav .navbar-toggle{
	  border:1px solid #3F4041;
	  border-radius:0;
	  margin:18px;
	}

	.main-nav .icon-bar {
	  background:#3F4041;
	  -webkit-transition:background .15s ease-out;
	  transition:background .15s ease-out;
	}

	.main-nav .navbar-toggle:hover .icon-bar{
	  background:#2997AB;
	}

	.main-nav .navbar-right{
	  margin:0;
	  padding-right: 50px;
	}

	.navbar-brand,
	.navbar-brand:hover,
	.navbar-brand:active,
	.navbar-brand:focus {
	  position:relative;
	  padding:20px 50px;
	  margin:0;
	  font-size:28px;
	  line-height:68px;
	  height:auto;
	  font-weight:600;
	  color:#777;
	  font-variant:small-caps;
	  letter-spacing:0.02em;
	  border-right: 1px solid rgba(0,0,0,.4);
	  -webkit-transition:all .5s ease-out;
	  transition:all .5s ease-out;
	  overflow:hidden;
	}

	.main-nav .navbar-brand .site-logo{height:40px;margin:0;top:0;vertical-align:middle;-webkit-transition: all .5s ease-out !important;transition: all .5s ease-out !important;}
	.main-nav .navbar-brand .transparent-logo{position: absolute;top:20px;left:50px;opacity:0;-webkit-transition: all .5s ease-out !important;transition: all .5s ease-out !important;}

	.main-nav.navbar-transparent .navbar-brand .site-logo{
	  opacity: 0;
	}

	.main-nav.navbar-transparent .navbar-brand .transparent-logo{
	  opacity:1;
	  top:40px;
	}

	.main-nav.navbar-transparent .navbar-brand{
	  padding:40px 50px 40px;
	  border-right: 0px rgba(255,255,255,.8);
	}

	.main-nav .nav a{
	  position:relative;
	  font-weight: 400;
	  z-index:1;
	  padding:5px 10px;
	  font-size:14px;
	  line-height:70px;
	  letter-spacing:0.08em;
	  background:transparent;
	  color:#141414;
	  text-transform: uppercase;
	  opacity:1;
	  overflow: hidden;
	  -webkit-transition:all 0.5s ease-out;
	  transition:all 0.5s ease-out; 
	}

	.main-nav .nav > li > a:hover,
	.main-nav .nav > li > a:focus {
	  background-color: transparent;
	}

	.main-nav.navbar-transparent a{
	  color: #fff;
	  font-weight: 400;
	  line-height:110px;
	}

	.main-nav .nav .active > a,
	.main-nav .nav a:hover{
	  color:#2997AB;
	}

	.main-nav .nav a:before {
	  display:block;
	  visibility: hidden;
	  position:absolute;
	  top:50%;
	  left:50%;
	  content:"";
	  width:0;
	  height:0;
	  -webkit-transform: translate(-50%,-50%);
	  transform: translate(-50%,-50%);
	  border-radius: 50%;
	  background:#2997AB;
	  z-index:-1;
	  opacity:.8;
	  -webkit-transition:opacity .6s ease-out,width .6s ease-out,height .6s ease-out;
	  transition:opacity .6s ease-out,width .6s ease-out,height .6s ease-out;
	}

	.main-nav .nav a:focus:before {
	  visibility: visible;
	  opacity:0;
	  width:100px;
	  height:100px;
	}

	.main-nav li{
	  background:transparent;
	  margin:0 6px !important;
	}

	@media (max-width: 1199px) {

	  .main-nav.navbar-transparent{
	    background:#fff;
	    // border-bottom: rgba(0,0,0,.4);
	  }

	  .main-nav .navbar-brand,
	  .main-nav.navbar-transparent .navbar-brand{
	    padding:20px 30px;
	    border-right: none;
	  }

	  .main-nav .navbar-brand .site-logo{height:30px;opacity: 1 !important;}
	  .main-nav .navbar-brand .transparent-logo{display:none}

	  .navbar-collapse{
	    background: #f1f2f3;
	  }

	  .main-nav.navbar-transparent a,
	  .main-nav .nav a{
	    position:relative;
	    font-weight: 400;
	    z-index:1;
	    padding:5px 25px;
	    font-size:12px;
	    line-height:40px;
	    letter-spacing:0.08em;
	    color:#141414;
	  }

	  .main-nav .nav a:before {
	    display:none;
	  }

	  .navbar-header {
	    float: none;
	  }
	  .navbar-toggle {
	    display: block;
	  }
	  .navbar-collapse.collapse {
	    padding: 0 0 !important;
	    display: none!important;
	  }
	  .navbar-nav {
	    float: none!important;
	    margin: 0 !important;
	    padding:15px 0 !important;
	  }
	  .navbar-nav>li {
	    float: none;
	  }
	  .navbar-collapse.collapse.in { 
	    display: block!important;
	  }
	  .collapsing {
	    padding: 0 !important;
	    overflow: hidden!important;
	  }
	}


	@media (max-width: 479px) {

	  .main-nav .navbar-brand,
	  .main-nav.navbar-transparent .navbar-brand{
	    padding:20px 0 20px 20px;
	  }
	  .main-nav.navbar-transparent a,
	  .main-nav .nav a{
	    padding:5px 15px;
	  }

	}
	@media (max-device-width: 640px) and (orientation: landscape) {
	  .navbar-fixed-top .navbar-collapse,
	  .navbar-fixed-bottom .navbar-collapse {
	    max-height: 250px;
	  }
	}
	/*----------------------
	----Dark Navigation ----
	------------------------*/
	.main-nav.dark-nav{
	  background:#2c2c2c;
	  border-bottom: #1e1e1e;
	}

	.main-nav.dark-nav .nav > li.active > a,
	.main-nav.dark-nav .nav > li > a:hover{
	  color:#fff;
	}


	/*----------------------
	-----Dropdown Styles----
	------------------------*/

	.dropdown > a:after{
	  font-size:14px;
	  margin-left:5px;
	  font-family:fontAwesome;
	}

	.dropdown .dropdown > a:after{
	  position: absolute;
	  right:10px;
	  font-size:14px;
	  line-height: 18px;
	  margin-left:5px;
	  font-family:fontAwesome;
	}

	.dropdown .left-side.dropdown > a:after{
	  left:5px;
	  right:auto;
	}

	.dropdown-menu{
	  padding:0;
	  left:-10px !important;
	  right:auto !important;
	  display: block;
	  border-radius: 0;
	  visibility: hidden;
	  -webkit-transform: translateY(10px);
	  transform: translateY(10px);
	  opacity:0;
	  -webkit-transition:opacity .2s ease-out,-webkit-transform .2s ease-out;
	  transition:opacity .2s ease-out,transform .2s ease-out;
	}

	.dropdown-menu .dropdown-menu{
	  top:-3px;
	  left:100% !important;
	  right:auto !important;
	}

	.dropdown-menu .left-side .dropdown-menu{
	  top:-4px;
	  left:auto !important;
	  right:100% !important;
	}

	.dropdown:hover > .dropdown-menu{
	  visibility: visible;
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	  opacity:1;
	}

	.main-nav  .dropdown:hover > a{
	  color: #313131;
	}

	.main-nav.dark-nav .dropdown:hover > a{
	  color: #fff;
	}

	.main-nav .dropdown-menu li{
	  padding:0;
	  margin:0;
	}

	.main-nav .dropdown-menu a{
	  padding:17px 50px 17px 30px;
	  font-size:14px;
	  font-weight: 300;
	  line-height: 14px;
	  color: #9a9a9a;
	  text-transform: none;
	  -webkit-transition:all .2s ease-out;
	  transition:all .2s ease-out;
	}

	.main-nav .dropdown-menu a:hover,
	.main-nav .dropdown-menu a:focus{
	  padding:17px 50px 17px 30px;
	  font-size:14px;
	  font-weight: 300;
	  line-height: 14px;
	  color: #313131;
	  text-transform: none;
	  background: #f5f7f8;
	  -webkit-transition:all .2s ease-out;
	  transition:all .2s ease-out;
	}

	.main-nav .dropdown .dropdown:hover > a{
	  color: #313131;
	  background: #f5f7f8;
	}

	.main-nav .dropdown-menu a:before{
	  display: none !important;
	}


	/*----------------------
	----- Dark Dropdown ----
	------------------------*/

	.main-nav.dark-dropdown .dropdown-menu{
	  background: #333;
	}

	.main-nav.dark-dropdown .dropdown-menu a:hover,
	.main-nav.dark-dropdown .dropdown-menu a:focus{
	  color: #f1f2f3;
	  background: rgba(255,255,255,0.08);
	}

	.main-nav.dark-dropdown .dropdown-menu .active > a{
	  color: #f1f2f3;
	}

	.main-nav.dark-dropdown .dropdown .dropdown:hover > a{
	  color: #f1f2f3;
	  background: rgba(255,255,255,0.08);
	}

	/*----------------------
	----- Centered Logo ----
	------------------------*/

	.navbar-centered .nav:not(.navbar-right){
	  margin-left: -15px;
	}

	.main-nav.navbar-centered .nav a,
	.main-nav.navbar-centered .nav a:active,
	.main-nav.navbar-centered .nav a:hover,
	.main-nav.navbar-centered .nav a:focus{
	  line-height: 108px;
	}

	.main-nav.navbar-centered .dropdown-menu a,
	.main-nav.navbar-centered .dropdown-menu a:active,
	.main-nav.navbar-centered .dropdown-menu a:hover,
	.main-nav.navbar-centered .dropdown-menu a:focus{
	  line-height: 14px;
	}

	.navbar-centered .navbar-brand,
	.navbar-centered .navbar-brand:hover,
	.navbar-centered .navbar-brand:active,
	.navbar-centered .navbar-brand:focus {
	  padding:19px 10px;
	  margin:0 auto !important;
	  height:auto;
	  color:#777;
	  width: 100%;
	}

	.navbar-centered .site-logo{height:auto;max-height:80px;margin:0 auto !important;max-width: 100%;}
