<!-- <div class="overlay" id="results">
  <div class="container text-center">
    <div class="content">
      <div class="neon"><a data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-info">D2R</a></div>
    </div>
  </div>
</div> -->
<div class="item" id="results">
  <!-- <img class="third-slide" src="" alt="Third slide"> -->
  <div class="container">
    <div class="carousel-caption">
      <h1>D2R <span class="h4 text-muted" style="color:yellow">Daily Planner</span></h1>
      <a data-toggle="modal" data-target="#login-modal" class="btn btn-lg btn-info">D2R</a>
    </div>
  </div>
</div>