<div class="container">
  <div class="row">
    <div class="col-sm-3"><br/>
      <calendar selected="day" ng-click= "postFilter(day, user); user.filterResult = true"></calendar>
      <h3>Total Tasks: {{user.posts.length}}</h3>
    </div>

    <div class="col-sm-9">
      <div class="card">
        <h4>Tasks</h4>
        <form ng-submit="createPost(user)">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" ng-model="post.title">
          </div>
          <div class="form-group">
            <label for="detials">Detials</label>
            <textarea class="form-control" ng-model="post.body"></textarea>
          </div>
          <button type="submit">Save</button>
        </form>
      </div>

      <div class='col-sm-3 post-it' ng-repeat="post in user.posts" ng-hide="user.filterResult">
        <div ng-hide="post.editForm">
          <h3>{{post.title}}</h3>
          <p>{{post.body}}</p>
          <div class="card-date">{{post.created_at | date:'yyyy-MM-dd'}}</div>
          <a href="#" class="pull-right">
            <ng-md-icon icon="edit" style="fill: black" size="20" ng-click="post.editForm = true"></ng-md-icon>
          </a>
          <a href="#" class="pull-right" ng-click="postShow(post)">
           <ng-md-icon icon="comment" style="fill:black"></ng-md-icon>
         </a> 
         <a href="#" class='pull-right' ng-click="deletePost(post)">
          <i class='icon ion-close-circled'></i>
        </a>
      </div>
        <div ng-show="post.editForm">
          <form ng-submit="updatePost(post)">
            <div class="form-group">
              <input type="text" ng-model="post.title" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" ng-model="post.body" class="form-control">
            </div>
            <input type="submit" value="Save Post" class="btn btn-default">
          </form>
        </div>
      </div>
      <div class="col-sm-3 card" ng-show="user.filterResult" ng-repeat="filter in filters">
        <h3>{{filter.title}}</h3>
        <p>{{filter.body}}</p>
        <div class="card-date">{{filter.created_at | date: 'yyyy-MM-dd'}}</div>
      </div>
    </div>
  </div>
</div>
